*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,footer,main{
    background-color: #6e0d51;
}

html, body{
    height: 100vh;
    
    width: 100%;
}

header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
    color: white;

}

main{
    flex: 10;
    height: 100%;
    
}

footer{
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    
    padding: 10px 20px;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.logo{
    width: 50px;
}
.pesquisar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.loupe{
    width: 25px;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.inputPesquisar{
    border: solid white;
    background-color: #6e0d51;
    color: white;
    padding: 2px;
    font-size: 15px;
    border-radius: 20px;
}

.btnFiltro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 10px;
  
}
.btnFiltro:hover{
    background-color: #321128;

    border: none;
    
  
}

.imgFilter{
    width: 25px;
}

.card{
    background-color: aliceblue;
    width: 100px;
    height: 150px;
    margin: 10px;
}

.card:hover{
    transform: scale(1.15);
    transition: 200ms;
}

.containerLivros{
    display: flex;
    flex-wrap: wrap;
    
}

.menu_content {
    width: 70px;
    height: 70px;
}

.item {
    border-radius: 100%;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.active {
    transform: rotate(45deg);
}

.active ~ .options .item:hover {
    scale: 1.1;
    transition: scale .3s;
}

.active ~ .options .item:nth-child(1) {
    transform: translate(0, -4rem);
}

.active ~ .options .item:nth-child(2) {
    transform: translate(0, -8rem);
    transition-delay: .1s;
}

.active ~ .options .item:nth-child(3) {
    transform: translate(0, -12rem);
    transition-delay: .2s;
}