*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

header,footer,main{
    background-color: #6e0d51;
}

html, body{
    height: 100vh;
    
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;

}

.logoDiv{
    width: 300px;
    display: flex;
    
    
}

.logoDiv a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
}

main{
    flex: 10;
    height: 100%;
    
}

footer{
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    
    padding: 10px 20px;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.logo{
    width: 50px;
}
.pesquisar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.loupe{
    width: 25px;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.inputPesquisar{
    border: solid white;
    background-color: #6e0d51;
    color: black;
    padding: 2px;
    font-size: 15px;
    border-radius: 20px;
}

.btnFiltro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 10px;
  
}
.btnFiltro:hover{
    background-color: #321128;

    border: none;
    
  
}

.imgFilter{
    width: 25px;
}





.containerLivros{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.menu_content {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    
}

.item {
    border-radius: 100%;
    
    color: rgb(85, 16, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 62px;
    
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    
}

.capa{
    margin: 10px;
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
    
}
.capa:hover{
    transform: scale(1.15);
    transition: 200ms;
}

.active {
    transform: rotate(45deg);
}

.active ~ .options .item:hover {
    scale: 1.1;
    transition: scale .3s;
}

.active ~ .options .item:nth-child(1) {
    transform: translate(0, -4rem);
}

.active ~ .options .item:nth-child(2) {
    transform: translate(0, -8rem);
    transition-delay: .1s;
}


.containerLivroPage{
    display: flex;
    
}

.containerInfoLivroheader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInfoLivroMain{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}
.containerInfoLivro{
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.mainLivro{
    display: flex;
    flex: 10;
    gap: 20px;
}

.containerCapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px
}

.containerCapa img{
    width: 100%;}
    

.containerInfo{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoMain{
    font-size: 40px;
    
}
.infofooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnVerTodos{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid white;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;

  
}

.autorIndividual{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(35, 32, 32);
    border-radius: 20px;
    padding: 20px;
}
.mainAutores{
    
    display: flex;
    gap: 20px;
    flex: 20;
}
.listagemAutores{
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 10px;
}
.addAutor{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addAutor input{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
.addAutor button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.listagemAutores button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.listagemAutores button:hover{
    background-color: #321128;
    color: white;
}
.addAutor button:hover{
    background-color: #321128;
    color: white;
}
.listagemAutores .autorIndividual:hover{
    background-color: #321128;
    color: white;
}

.listagemAutores a{
    text-decoration: none;
    color: black;
}

.listagemAutores a:hover{
    color: white;
}

.listagemAutores a:hover{
    color: white;
}

.addAutor input::placeholder{
    color: #321128;
}

.addAutor button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.addAutor button:hover{
    background-color: #321128;
    color: white;
}

.mainAutores{
    min-height: 100%;
}

.addAutor{
    display: flex;
    flex-direction: column;
}

.autoresArquivados{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    width: 150px;
   
}
.containerAutoresArquivados{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    gap: 10px
}
.direita{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}