*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

header,footer,main{
    background-color: #6e0d51;
}

html, body{
    height: 100vh;
    
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    
}

.logoDiv{
    width: 300px;
    display: flex;
}

.logoDiv a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
}

main{
    flex: 10;
    height: 100%;
    
}

footer{
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    
    padding: 10px 20px;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.logo{
    width: 50px;
}
.pesquisar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.loupe{
    width: 25px;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.inputPesquisar{
    border: solid white;
    background-color: #6e0d51;
    color: rgb(255, 255, 255);
    padding: 2px;
    font-size: 15px;
    border-radius: 20px;
}

.btnFiltro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 10px;
  
}
.btnFiltro:hover{
    background-color: #321128;

    border: none;
    
  
}

.imgFilter{
    width: 25px;
}





.containerLivros{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.menu_content {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    
}

.item {
    border-radius: 100%;
    
    color: rgb(85, 16, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 62px;
    
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    
}


.capa{
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 200ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.capa:hover{
    transform: scale(1.15);
    transition: 200ms;
}

.active {
    transform: rotate(45deg);
}

.active ~ .options .item:hover {
    scale: 1.1;
    transition: scale .3s;
}

.active ~ .options .item:nth-child(1) {
    transform: translate(0, -4rem);
}

.active ~ .options .item:nth-child(2) {
    transform: translate(0, -8rem);
    transition-delay: .1s;
}


.containerLivroPage{
    display: flex;
    
}

.containerInfoLivroheader{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containerInfoLivroMain{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}
.containerInfoLivro{
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.mainLivro{
    
    padding: 10px;
    flex: 10;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    
}
.containerAll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 800px;
    width: 1800px;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 20px;
    border-radius: 20px;
}

.containerCapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    
    width: 450px;
    
}


.containerCapa img{
    
    width: 450px;
    
    object-fit: cover;
    border-radius: 20px;
}
    

.containerInfo{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    height: 100%;
    justify-content: center;
}

.infoHeader{
    display: flex;
    
    align-items: center;
    font-size: 24px;
}
.infoMain{
    
    font-size: 30px;
    
}
.infoFooter{
    display: flex;
   
    gap: 10px;
}


.infoFooter a {
    background-color: #6e0d51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.infoFooter a:hover {
    background-color: #961970;
}





.btnVerTodos{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;

  
}

.autorIndividual{
    display: flex;
    align-items: center;
    
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 20px;
    padding: 20px;
}
.mainAutores{
    
    display: flex;
    gap: 20px;
    flex: 20;
}
.listagemAutores{
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 10px;
}
.addAutor{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addAutor input{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
.addAutor button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.listagemAutores{
    flex-direction: column;
}

.listagemAutores button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.listagemAutores button:hover{
    background-color: #321128;
    color: white;
}
.addAutor button:hover{
    background-color: #321128;
    color: white;
}
.listagemAutores .autorIndividual:hover{
    background-color: #321128;
    color: white;
}

.listagemAutores a{
    text-decoration: none;
    color: black;
}

.listagemAutores a:hover{
    color: white;
}

.listagemAutores a:hover{
    color: white;
}

.addAutor input::placeholder{
    color: #321128;
}

.addAutor button{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.addAutor button:hover{
    background-color: #321128;
    color: white;
}

.mainAutores{
    min-height: 100%;
}

.addAutor{
    display: flex;
    flex-direction: column;
}

.autoresArquivados{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    width: 150px;
   
}
.containerAutoresArquivados{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    gap: 10px
}
.direita{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.arquivado{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE */
    transition: .3s;
}
.arquivado:hover{
    -webkit-filter: none;	
	filter: none;
}

.containerFiltro {
    position: relative;
    display: inline-block;
}
.filtro-container {
    position: absolute;
    top: 100%; /* Ajusta a posição para ficar logo abaixo do botão */
    width: 120px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    display: none;
    z-index: 1000; /* Garante que o menu de filtro fique acima de outros elementos */
}
.filtro-container label {
    margin-bottom: 5px;
    display: block;
}
.filtro-container select {
    margin-bottom: 10px;
    width: 100%;
}
.filtro-container button {
    display: block;
    width: 100%;
    background-color: #0081CF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.emprestado{
    filter: brightness(20%);
    
}
.emprestado:hover{	
    -webkit-filter: none;
    filter: none;
}
.ContainerLivroEmprestado {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.capa.emprestado {
    display: block;
    max-width: 100%;
    
}

.ContainerLivroEmprestado::after {
    content: "EMPRESTADO"; /* Substitua pelo texto desejado */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    opacity: 1; /* Texto visível por padrão */
    transition: opacity 0.3s ease; /* Animação suave para o desaparecimento */
}

.ContainerLivroEmprestado:hover::after {
    opacity: 0; /* Texto desaparece ao passar o mouse */
}

.containerEmprestimo{
    display: flex;
    min-height: 100%;
    background-color: #6e0d51;
    flex-direction: column;
   
    gap: 40px;
}

.ContainerImgEmprestimoLivro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.imgEmprestimoLivro{
    width: 200px;
}
.tituloEmprestimo{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;

}
.h1EmprestimoLivro{
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloEmprestimo h1{
    font-size: 40px;
    color: white;
    
}
.formEmprestimoLivro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.formEmprestimoLivro{
    color: white;
}

.formEmprestimoLivro button{
    padding: 5px;
    border-radius: 7px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
.formEmprestimoLivro button:hover{
    
    color: #ffffff;
   background-color: #000000;
}